<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport fixedTopGap="65">
    <mat-nav-list>
      <div *ngIf="retrievedImage" class="rounded-circle">
        <img
          class="rounded-circle"
          style="position: sticky; width: 56px"
          [src]="retrievedImage"
        />
        <h1 class="text">{{ username }}</h1>
      </div>
      <button mat-button routerLink="tasks">
        <mat-toolbar> <mat-icon>home</mat-icon> Home </mat-toolbar>
      </button>
      <button mat-button routerLink="archive">
        <mat-toolbar> <mat-icon>archive</mat-icon> Archive </mat-toolbar>
      </button>
      <hr />
      <button mat-button routerLink="priority">
        <mat-toolbar> Priority<mat-icon>todo</mat-icon> </mat-toolbar>
      </button>

      <button mat-button routerLink="category">
        <mat-toolbar> category<mat-icon>todo</mat-icon> </mat-toolbar>
      </button>

      <hr />
      <button mat-button routerLink="notification">
        <mat-toolbar>
          <mat-icon>notifications</mat-icon>Notification's
        </mat-toolbar>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="z-index: 100" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="tasks">
        <mat-icon id="logo">assignment</mat-icon>
        <span id="app">TO DO </span>
      </a>
      <h1 style="margin-left: 600px">WELCOME {{ username }}</h1>
      <button
        style="position: absolute; right: 100px"
        routerLink="notification"
        mat-button
        title="Notifications"
        id="notification"
      >
        <mat-icon>notifications</mat-icon>
      </button>
      <button
        title="HELLO {{ username }}"
        id="profile"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>account_circle</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="editprofile">Edit Profile</button>
          <button mat-menu-item (click)="logout()">Log Out</button>
        </mat-menu>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="footer">
      <footer class="page-footer font-small">
        <div
          class="footer-copyright text-white text-center py-3"
          style="margin-top: -8px"
        >
          © 2022 Copyright : To-do-Application
        </div>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
